#update env# backend/.env
PORT=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
EMAIL_FROM=
EMAIL_REPLY_TO=
TURNSTILE_SECRET=
JWT_SECRET_SESSAO=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET_MUSICAS=

NODE_ENV=
DEBUG_LOGS=true
